* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.meetMarkContainer {
  width: 100vw;
  height: fit-content;
  background: url('../../asset/bg-light.svg') center center fixed;
  background-size: cover;
  background-repeat: repeat-y;
  
}

.groupPickers {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 0 ;
}

.datePickerFodase {
  padding: 2%;
  border-radius: 16px 0 0 16px;
  background-color: #fff;
  height: 100%;
}


.datePickerFodase h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0F4C81;
  font-family: 'Fredoka-m', sans-serif;
}

.timePickerFodase {
  padding:4.95% 2%;
  border-radius: 0 16px 16px 0 ;
  background-color: #fff;
  font-family: 'Fredoka-r', sans-serif;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.timePickerFodase h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0F4C81;
  font-family: 'Fredoka-m', sans-serif;
  margin: 0 0 60% 0
}
.titleMeetMark {
  text-align: center;
  padding: 8% 0 6% 0;
  font-family: 'Fredoka-r', sans-serif;
  font-size: 1.2rem;
  color: #fff;
}

.buttonMeetMark {
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonMeetMark button {
  padding: 1% 4%;
  border: none;
  border-radius: 99px;
  background-color: #0F4C81;
  color: #fff;
  font-family: 'Fredoka-m', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.timePickerFodase h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0F4C81;
  margin: 8% 0 0 0;
  font-family: 'Fredoka-m', sans-serif;
}

.psiList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.psiColumns {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.psiCard {
  width: 40%;
  margin: 0 5% ;
  height: 20%;
  background-color: #fff;
  border-radius: 16px;
  padding: 2%;
  font-family: 'Fredoka-r', sans-serif;
  
}

.psiListHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
  font-family: 'Fredoka-m', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.trash {
  width: 100%;
  height: 20vh;
}