.formField {
    margin: 50px;
    font-family: 'Fredoka-light';
  }
  
  .formField input {
    padding: 5px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #EDEDED;
    color: #333;
    font-size: 20px;
    font-weight: 550;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 6px transparent;
  
  }
  
  .formField input:hover,
  .formField input:focus {
    box-shadow: 0 0 0 3px #006edd;
  }
  