/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  font-family: Fredoka-r, sans-serif;
}

body {
  background: url("../../utils/assets/background_dark.svg") repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}


html {
  height: 100vh;
} */

.container {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fredoka-r, sans-serif;
  height: 100vh;
  background: url("../../utils/assets/background_dark.svg") repeat;

}
