* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginContainer {
  width: 100vw;  
  height: 100vh;
  background: url('../../asset/bg-dark.svg') no-repeat center center fixed;
  background-size: cover;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 64%;
}

.mainLogo img {
  height: 6vh;
}

.welcomeText h1 {
  font-size: 2.4rem;
  font-family: 'Fredoka-m';
  font-weight: 700;
  color: #fff;
}

.signUpButton a, .signUpButton p {
  text-decoration: none;
  color: #fff;
  font-family: 'Fredoka-r';
  font-size: 1.4rem;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.signUpButton a:hover {
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  text-decoration: underline;
  filter: drop-shadow(0 0 10px rgba(78, 172, 255, 1));
}

.loginButton img {
  height: 28vh;
  transition: .5s;
}

.loginButton img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 20px  rgba(78, 172, 255, 1));
}