.body{
    background-image: url(../../utils/assets/background-form.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    color: #ffffff;
    font-family: "Fredoka-l", sans-serif;
}

.fundo-container{
    height: 50vh;
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

}

.img-fundo{
    width: 100%;
    height: fit-content;
    border-bottom: 3px solid #ffffff;
    height: 50vh;   
}

.fundo{
    width: 100%;
    height: 100vw;
}

.header{
    position: inherit;
    margin-top: -15vh;
}

.img{
    width: 244px;
    height: 248px;
    border-radius: 150px;
    margin-left: 50px;
    border: 3px solid #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.nome{
    margin-bottom: -16vh;
}

.nota{
    display: flex;
    align-items: center;
    gap: 10px;
}

.atendimentos{
    display: flex;
    align-items: center;
    gap: 10px;
}

.espec{
    font-family: 'Fredoka-r';
    padding: 0 5px 0 5px;
    width: fit-content;
    background-color: #D9D9D9;
    border-radius: 10px;
    color: black;
}

.notaAtendi{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    /* margin-bottom: 20px; */
    gap: 50px;
}

.header{
    display: flex;
    align-items: center;
    font-size: larger;
    gap: 100px;
}

.buttonSobre{
    display: flex;
    align-items: center;
    gap: 100px;
}

.bntAgend {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: #EDEDED;
    color: #0F4C81;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Fredoka-r';
    font-weight: 300;
    font-size: large;
    transition: transform 0.3s ease-in-out;
    margin: 50px;
    margin-left: 90px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.bntAgend:hover {
    transform: scale(1.1);
}

.sobre {
    margin-right: 120px;
}

.espForm{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    color: #0F4C81;
    gap: 70px;
}

.especialidade{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 40vw;
    background-color: #EDEDED;
    border-radius: 10px;
}

.formacao{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 40vw;
    background-color: #EDEDED;
    border-radius: 10px;
}