.main {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    font-family: "Fredoka-r", sans-serif;
}

.inpLabel {
    color: #fff;
    font-size: 14px;
}
.inpInput {
    color: #fff;
    padding: 2%;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 14px;
    background-color: transparent;
}

::placeholder {
    color: #fff;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.req {
    color: #f00;
}

.labInputDark {
    color: #0F4C81;
    font-weight: bold;
}

.inpInputDark {
    border-bottom: 1px solid #0F4C81;
    color: #0F4C81;
}

.disabledInp {
    cursor: not-allowed;
}

.textarea {
    border: 1px solid #0F4C81;
    height: 100px;
    color: #0F4C81;
}