.react-calendar{
    /* font-family: 'Fredoka-regular', sans-serif; */
    font-family: 'Fredoka-r', sans-serif;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.react-calendar__navigation__label {
    font-family: 'Fredoka-r', sans-serif;
    text-transform: capitalize;
    font-size: medium;
}

.react-calendar__month-view__weekdays__weekday {
    font-family: 'Fredoka-r', sans-serif;
    font-weight: 500;
    color: black;
}

abbr {
    text-decoration: none;
}