.sideItem {
    display: flex;
    width: 90%;
    align-items: center;
    border-radius: 50vh;
    color: #fff;
    padding: 2px;
    margin: 5%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;

}

.sideItem:hover {
    border: 2px solid #0F4C81;
    transition: 0.2s;
}

.sideItem img {
    width: 16%;
    margin: 1vh;
}

.sideItem p {
    font-family: Fredoka-m;
    font-size: 1rem;
    margin: 1vh;
}

.sideActive {
    background-color: #0F4C81;
}

.sideActive:hover {
    border: #fff 2px solid;
}