/* Estilos para o corpo e o HTML */
body, html {
  margin: 0;
  padding: 0;  
}

/* Estilos para o contêiner de fundo */
.background {
  background-color: #0F4C81; 
  height: 100vh; 
  width: 100%; 
  display: flex; 
  justify-content: flex-end; 
  align-items: flex-start; 
  position: relative; 
}

/* Estilos para a imagem de fundo */
.backgroundImage {
  position: absolute; 
  top: 0; 
  right: 0; 
  width: auto; 
  height: 100%; 
}

/* Estilos para o conteúdo */
.container {
  position: absolute;
  top: 60%;
  left: 6%; 
  transform: translateY(-50%);
  color: white; 
}

/* Estilos para o cabeçalho */
.container h1 {
  font-size: 4rem; 
  font-weight: bold; 
  margin-bottom: 1rem;
  margin-top: -5rem; 
}

/* Estilos para a parte em destaque do cabeçalho */
.container h1 span {
  display: block; 
  font-style: italic; 
}

/* Estilos para o link de conversa */
.conversarLink {
  color: white;
  text-decoration: underline; 
  cursor: pointer;
  font-size: 2.5rem; 
  margin-top: 3rem; 
}

/* Estilos para o fundo estrelado */
.starBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Estilos para as estrelas */
.starImage:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  width: 50px;
  height: 50px;
}

.starImage:nth-child(2) {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  width: 30px;
  height: 30px;
}

.extraContent {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #4EACFF ;
  padding: 60px;
}

.extraContentInner {
  width: 90%; 
}

.extraImage {
  width: 30%; 
  max-width: 200px; 
}

/* Estilos para o texto extra */
.extraText {
  font-size: 2rem; 
  font-weight: bold; 
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px; 
}

/* Estilos para o link "Confira" */
.confiraLink {
  display: inline-block;
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 2.0rem; 
  margin-top: 20px; 
  cursor: pointer;
  margin-left: 10px;
}