/* Estilos para o corpo e o HTML
body, html {
  margin: 0;
  padding: 0;  
  font-family: 'Fredoka-r', sans-serif;
} */
/* Estilos para o contêiner de fundo */
.body{
  font-family: 'Fredoka-l';
}

.background {
  height: 100vh; 
  width: 100%; 
  display: flex; 
  justify-content: flex-end; 
  align-items: flex-start; 
  position: relative; 
  background: url("../../utils/assets/estrela.png") repeat;
  background-color: #0F4C81;
}


/* Estilos para a imagem de fundo */
.backgroundImage {
  position: absolute; 
  top: 0; 
  right: 0; 
  width: auto; 
  height: 100%; 
}

/* Estilos para o conteúdo */
.container {
  position: absolute;
  top: 60%;
  left: 6%; 
  transform: translateY(-50%);
  color: white; 
}

/* Estilos para o cabeçalho */
.container h1 {
  font-size: 4rem; 
  font-family: 'Fredoka-b', sans-serif;
  font-weight: bold; 
  margin-bottom: 1rem;
  margin-top: -5rem; 
}

/* Estilos para a parte em destaque do cabeçalho */
.container h1 span {
  display: block; 
  font-style: italic; 
}
.paragraph{
  font-size: 1.2rem;
  font-family: 'Fredoka-m', sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-left: -10px;
  
}

/* Estilos para o link de conversa */
.conversarLink {
  color: white;
  font-family: 'Fredoka-sb', sans-serif;
  text-decoration: underline; 
  cursor: pointer;
  font-size: 2.5rem; 
  margin-top: 3rem; 
}
/*  Estilos para o conteúdo extra */
.extraContent {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #4EACFF ;
  padding: 60px;
  background: url("../../utils/assets/nuvem.png") repeat;
  background-color: #4EACFF;
}
 
.extraContentInner {
  width: 90%; 
}

.extraImage {
  width: 50%; 
  max-width: 300px; 
}

/* Estilos para o texto extra */
.extraText {
  font-size: 3rem; 
  font-family: 'Fredoka-b', sans-serif;
  font-weight: bold; 
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px; 
}
.extraText1 {
  font-size: 1.5rem; 
  font-family: 'Fredoka-b', sans-serif;
  font-weight: bold; 
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px; 
}

/* Estilos para o link "Confira" */
.confiraLink {
  display: inline-block;
  font-family: 'Fredoka-sb', sans-serif;
  color: #fff; 
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 2.0rem; 
  margin-top: 20px; 
  cursor: pointer;
  margin-left: -20px;
  
}

.parte3{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background: url("../../utils/assets/estrela.png") repeat;
  background-color:#0F4C81;
  padding: 60px;
}
.confiraLinkProfissionais{
  color: white;
  font-family: 'Fredoka-sb', sans-serif;
  text-decoration: underline; 
  cursor: pointer;
  font-size: 2.5rem; 
  margin-top: 3rem; 
  margin-left: 10px;
}

.parte3Image{
  width: 80%; 
  max-width: 600px; 
  margin-top: 50px;
}

.parte3Text{
  font-size: 3rem; 
  font-family: 'Fredoka-b', sans-serif;
  font-weight: bold; 
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px; 
}
.parte3Text1 {
  font-size: 1.5rem;
  font-family: 'Fredoka-b', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px;
}

.parte4{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #4EACFF;
  padding: 60px;
  background: url("../../utils/assets/nuvem.png") repeat;
  background-color: #4EACFF;
}

.parte4Inner{
  width: 90%; 
}
.parte4Text{
  font-size: 2.1rem; 
  font-family: 'Fredoka-b', sans-serif;
  font-weight: bold; 
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px; 
}

.parte4Text1 {
  font-size: 2.5rem; 
  font-family: 'Fredoka-b', sans-serif;
  font-weight: bold; 
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px; 
}

.parte4Image{
  width: 90%; 
  max-width: 600px; 
  margin-left: -35px;
}

.textoDireito{
  font-size: 1.2rem;
  font-weight: bold; 
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px; 
  margin-top: 200px;
}


.parte4Text2 {
  font-size: 2.1rem;
  font-family: 'Fredoka-b', sans-serif;
  font-weight: bold;
  color: white;
  
}

/* Estilos para o texto à esquerda da imagem */
.textoEsquerdo {
  font-size: 1.2rem;
  font-weight: bold; 
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px; 
  margin-top: 50px;/* Ajuste esta altura de acordo com suas necessidades */
}


.parte31{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background: url("../../utils/assets/nuvem.png") repeat;
  background-color:#4EACFF;
  padding: 60px;
}
.confiraLinkProfissionais{
  color: white;
  font-family: 'Fredoka-sb', sans-serif;
  text-decoration: underline; 
  cursor: pointer;
  font-size: 2.5rem; 
  margin-top: 3rem; 
  margin-left: 10px;
}

.parte31Image{
  width: 80%; 
  max-width: 600px; 
  margin-top: 50px;
}

.parte31Text{
  font-size: 3rem; 
  font-family: 'Fredoka-b', sans-serif;
  font-weight: bold; 
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px; 
}
.parte31Text1 {
  font-size: 1.5rem;
  font-family: 'Fredoka-b', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  padding: 10px;
  margin-right: 70px;
}
