@font-face {
    font-family: "Fredoka-r";
    src: url("../utils/fonts/Fredoka-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Fredoka-sb";
    src: url("../utils/fonts/Fredoka-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Fredoka-b";
    src: url("../utils/fonts/Fredoka-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Fredoka-m";
    src: url("../utils/fonts/Fredoka-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Fredoka-l";
    src: url("../utils/fonts/Fredoka-Light.ttf") format("truetype");
}

/* *{
    margin: 0;
    padding: 0;
}

*{
    height: auto;
    margin: 0;
    padding: 0;
} */

/* ::-webkit-scrollbar {
    width: 0.8rem; 
}

::-webkit-scrollbar-thumb {
    background-color: #ffff;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-button {
    display: none;
} */


