.mainSecA {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url('../../asset/bg-dark.svg');
  background-size: cover;
  background-repeat: repeat;

}

.leftSecA {
  position: absolute;
  width: 60%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 0 0 6%;
}

.headerSecA {
  font-size: 2.4rem;
  font-family: 'Fredoka-r';
}

.textSecA {
  font-size: 1.6rem;
  font-family: 'Fredoka-r';
  margin: 3vh 0;
}

.btnSecA {
  background-color: #4EACFF;
  font-size: 2rem;
  font-family: 'Fredoka-m';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 6vh;
  border-radius: 99px;
}


.rightSecA {
  width: 60%;
  position: absolute;
  height: 100vh;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: right;
  align-items: end;
}

.rightSecA img {
  height: 80vh;
}

.mainSecB {
  height: 100vh;
  width: 100vw;
  background: url('../../asset/bg-light.svg');
  background-size: cover;
}
.contentSecB {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.leftSecB {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.leftAlignSecB {
  margin: 0 0 0 28%;
  width: 80%;
}

.headerSecB {
  font-size: 2.4rem;
  font-family: 'Fredoka-r';
}

.textSecB {
  font-size: 1.6rem;
  font-family: 'Fredoka-r';
  margin: 8vh 0;
}

.btnSecB {
  background-color: #0F4C81;
  font-size: 2rem;
  font-family: 'Fredoka-m';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 6vh;
  border-radius: 99px;
}

.rightSecB {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}




.mainSecC {
  height: 100vh;
  width: 100vw;
  background: url('../../asset/bg-dark.svg');
  background-size: cover;
  position: relative;
}
.contentSecC {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.leftSecC {
  position: absolute;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1;
}

.leftAlignSecC {
  margin: 0 0 0 17%;
  width: 100%;
}

.headerSecC {
  font-size: 2.4rem;
  font-family: 'Fredoka-r';
}
.textSecC {
  font-size: 1.6rem;
  font-family: 'Fredoka-r';
  margin: 8vh 0;
}

.btnSecC {
  background-color: #4EACFF;
  font-size: 2rem;
  font-family: 'Fredoka-m';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 6vh;
  border-radius: 99px;
}

.rightSecC {
  right: 0;
  position: absolute;
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.mainSecD {
  height: 124vh;
  width: 100vw;
  background: url('../../asset/bg-light.svg');
  background-size: cover;
  color: #fff;
  padding: 10vh 0 0 14%;
}

.contentSecD {
  height: 100vh;
  width: 83%;
}

.headerSecD {
  font-size: 2.4rem;
  font-family: 'Fredoka-m';
}

.subSecD {
  margin: 4vh 0 0 0;
}

.subHeaderD {
  font-size: 2.8rem;
  font-family: 'Fredoka-r';
  text-decoration: underline;
}

.subContentD {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 4vh 0 0 0;
}

.subContentD h2 {
  font-size: 2.8rem;
  font-family: 'Fredoka-r';
}

.subHeaderD2 {
  text-align: right;
  margin: 8vh 0 0 0;
}

.mainSecE {
  height: 100vh;
  width: 100vw;
  background: url('../../asset/people_ods.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentSecE {
  width: 72%;
  display: flex;
  justify-content: space-between; 
  color: #fff;
}

.textSecE {
  
  font-size: 1.4rem;
    font-family: 'Fredoka-r';
}

.rightSecE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightSecE p {
  font-size: 1.4rem;
  font-family: 'Fredoka-r';
}