.main{
  background-color: #4EACFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.containerConfig{
  background-color: #fff;
  display: flex;
  height: 85%;
  width: 85%;
  padding: 32px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}

.containerLabel{
  font-family: "Fredoka-m";
  font-size: 24px;
  font-weight: 500;
  margin: 1vh;
  color: #0F4C81;
  height: fit-content;
}

.containerCards{
  display: flex;
  height: 100%;
  width: 100%;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.cardFotoPerfil{
  display: flex;
  background-color: #F5F5F5;
  width: 30%;
  height: 100%;
  margin: 1vh;
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 9px 3px 10px rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.cardAnamnese{
  display: flex;
  background-color: #F5F5F5;
  width: 32%;
  height: 60%;
  gap: 16px;
  margin: 1vh;
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 9px 3px 10px rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.cardPlanoDeFundo{
  display: flex;
  background-color: #F5F5F5;
  width: 32%;
  height: 100%;
  gap: 16px;
  margin: 1vh;
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 9px 3px 10px rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.cardAnamnese .btnAnexar{
  height: 18%;
  width: fit-content;
}

.cardLabel{
  font-family: "Fredoka-m";
  font-size: 16px;
  padding: 22px;
  color: #0F4C81;
  text-align: center;
}

.fotoCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 64%;
  border-radius: 10px;
  justify-content: center;
}

.molduraFoto{
  display: flex;
  background-color: #F5F5F5;
  border: 5px solid #ffffff;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.molduraFoto img{
  width: 100%;
  border-radius: 50%;
}

.btnAnexar{
  display: flex;
  background-color: #0F4C81;
  width: -moz-fit-content;
  width: fit-content;
  height: 10%;
  border-radius: 10px;
  margin-top: 5%;
  padding: 12px;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
}

.btnAnexar button{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
  font-family: 'Fredoka-m';
  font-size: 16px;
  background-color: #0F4C81;
  color: white;
  border: none;
  cursor: pointer;
}

.btnAnexar .imgAnexar{
  display: flex;
  height: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

.nomeArquivoAnamnese{
  font-family: 'Fredoka-m';
  font-size: 16px;
  color: #0F4C81;
}

.containerPlanoDeFundo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 90%;
}

.containerPlanoDeFundo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dff0ff;
  height: 55%;
  width: 90%;
}

.containerPlanoDeFundo span{
  font-family: 'Fredoka-m';
  font-size: 16px;
  color: #0F4C81;
}

