.body{
    background-image: url(../../utils/assets/background-form.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    color: #ffffff;
    font-family: "Fredoka-r", sans-serif;
}

.title{
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin-top: 20vh;
}

.TimePicker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin: 0 0 5vh 0;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin: 5vh ;
}

.bntBusca{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin: 0 0 5vh 0;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define duas colunas de largura igual */
}