.title{
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.TimePicker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin: 0 0 5vh 0;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin: 5vh ;
}

.bntBusca{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin: 0 0 5vh 0;
}