.body{
    background-image: url(../../utils/assets/background-form.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Fredoka-r';
    color: #ffffff;
}